# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env
.venv

# Distribution / packaging
.DS_Store
.egg-info/
*.egg
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model files
*.keras
*.h5
*.hdf5
best_pokemon_model.keras

# Other
.idea/
.vscode/

cos397/